In [4]:
import pandas as pd
import numpy as np

from pandas_profiling import ProfileReport
from pycaret.classification import *
from pycaret.datasets import get_data

In [6]:
df_credit = pd.DataFrame(get_data('credit'))

   LIMIT_BAL  SEX  EDUCATION  MARRIAGE  ...  PAY_AMT4  PAY_AMT5  PAY_AMT6  default
0      20000    2          2         1  ...       0.0       0.0       0.0        1
1      90000    2          2         2  ...    1000.0    1000.0    5000.0        0
2      50000    2          2         1  ...    1100.0    1069.0    1000.0        0
3      50000    1          2         1  ...    9000.0     689.0     679.0        0
4      50000    1          1         2  ...    1000.0    1000.0     800.0        0

[5 rows x 24 columns]

In [7]:
setup(data=df_credit, target='default')

Setup Succesfully Completed!

(       LIMIT_BAL   AGE  BILL_AMT1  ...  PAY_6_6  PAY_6_7  PAY_6_8
 0        20000.0  24.0     3913.0  ...      0.0      0.0      0.0
 1        90000.0  34.0    29239.0  ...      0.0      0.0      0.0
 2        50000.0  37.0    46990.0  ...      0.0      0.0      0.0
 3        50000.0  57.0     8617.0  ...      0.0      0.0      0.0
 4        50000.0  37.0    64400.0  ...      0.0      0.0      0.0
 ...          ...   ...        ...  ...      ...      ...      ...
 23995    80000.0  34.0    72557.0  ...      0.0      0.0      0.0
 23996   150000.0  43.0     1683.0  ...      0.0      0.0      0.0
 23997    30000.0  37.0     3565.0  ...      0.0      0.0      0.0
 23998    80000.0  41.0    -1645.0  ...      0.0      0.0      0.0
 23999    50000.0  46.0    47929.0  ...      0.0      0.0      0.0

 [24000 rows x 91 columns],
 0        1
 1        0
 2        0
 3        0
 4        0
         ..
 23995    1
 23996    0
 23997    1
 23998    1
 23999    1
 Name: default, Length: 24000, dtype: int32,
        LIMIT_BAL   AGE  BILL_AMT1  ...  PAY_6_6  PAY_6_7  PAY_6_8
 7891    190000.0  25.0   106223.0  ...      0.0      0.0      0.0
 22442    80000.0  42.0    17511.0  ...      0.0      0.0      0.0
 23708    20000.0  44.0    18015.0  ...      0.0      0.0      0.0
 14764   130000.0  25.0   136963.0  ...      0.0      0.0      0.0
 17312   120000.0  25.0    46953.0  ...      0.0      0.0      0.0
 ...          ...   ...        ...  ...      ...      ...      ...
 12619    20000.0  26.0    15271.0  ...      0.0      0.0      0.0
 16236   170000.0  56.0      390.0  ...      0.0      0.0      0.0
 14836    90000.0  27.0     4403.0  ...      0.0      0.0      0.0
 198      20000.0  40.0    19816.0  ...      0.0      0.0      0.0
 5171    290000.0  28.0   133789.0  ...      0.0      0.0      0.0

 [16799 rows x 91 columns],
        LIMIT_BAL   AGE  BILL_AMT1  ...  PAY_6_6  PAY_6_7  PAY_6_8
 22760   110000.0  47.0   109461.0  ...      0.0      0.0      0.0
 1551     20000.0  33.0     2508.0  ...      0.0      0.0      0.0
 5353    410000.0  33.0     3244.0  ...      0.0      0.0      0.0
 14656    50000.0  22.0    44980.0  ...      0.0      0.0      0.0
 2608    130000.0  25.0   132110.0  ...      0.0      0.0      0.0
 ...          ...   ...        ...  ...      ...      ...      ...
 2427    270000.0  27.0    11306.0  ...      0.0      0.0      0.0
 21149    50000.0  50.0    14592.0  ...      0.0      0.0      0.0
 9983    360000.0  28.0     2386.0  ...      0.0      0.0      0.0
 23001   340000.0  36.0     4490.0  ...      0.0      0.0      0.0
 18423   220000.0  38.0   166513.0  ...      0.0      0.0      0.0

 [7201 rows x 91 columns],
 7891     0
 22442    1
 23708    1
 14764    0
 17312    0
         ..
 12619    1
 16236    0
 14836    0
 198      0
 5171     0
 Name: default, Length: 16799, dtype: int32,
 22760    0
 1551     0
 5353     0
 14656    1
 2608     0
         ..
 2427     0
 21149    0
 9983     0
 23001    0
 18423    0
 Name: default, Length: 7201, dtype: int32,
 5588,
 Pipeline(memory=None,
          steps=[('dtypes',
                  DataTypes_Auto_infer(categorical_features=[],
                                       display_types=True, features_todrop=[],
                                       ml_usecase='classification',
                                       numerical_features=[], target='default',
                                       time_features=[])),
                 ('imputer',
                  Simple_Imputer(categorical_strategy='not_available',
                                 numeric_strategy='mean',
                                 target_variable=None)),
                 ('new_levels1',
                  New_Catagorical_Le...
                 ('group', Empty()), ('nonliner', Empty()), ('scaling', Empty()),
                 ('P_transform', Empty()), ('pt_target', Empty()),
                 ('binn', Empty()), ('rem_outliers', Empty()),
                 ('cluster_all', Empty()), ('dummy', Dummify(target='default')),
                 ('fix_perfect', Empty()), ('clean_names', Clean_Colum_Names()),
                 ('feature_select', Empty()), ('fix_multi', Empty()),
                 ('dfs', Empty()), ('pca', Empty())],
          verbose=False),
 [('Classification Setup Config',
                         Description        Value
   0                      session_id         5588
   1                     Target Type       Binary
   2                   Label Encoded   0: 0, 1: 1
   3                   Original Data  (24000, 24)
   4                 Missing Values         False
   5               Numeric Features            14
   6           Categorical Features             9
   7               Ordinal Features         False
   8      High Cardinality Features         False
   9        High Cardinality Method          None
   10                   Sampled Data  (24000, 24)
   11          Transformed Train Set  (16799, 91)
   12           Transformed Test Set   (7201, 91)
   13               Numeric Imputer          mean
   14           Categorical Imputer      constant
   15                     Normalize         False
   16              Normalize Method          None
   17                Transformation         False
   18         Transformation Method          None
   19                           PCA         False
   20                    PCA Method          None
   21                PCA Components          None
   22           Ignore Low Variance         False
   23           Combine Rare Levels         False
   24          Rare Level Threshold          None
   25               Numeric Binning         False
   26               Remove Outliers         False
   27            Outliers Threshold          None
   28      Remove Multicollinearity         False
   29   Multicollinearity Threshold          None
   30                    Clustering         False
   31          Clustering Iteration          None
   32           Polynomial Features         False
   33             Polynomial Degree          None
   34          Trignometry Features         False
   35          Polynomial Threshold          None
   36                Group Features         False
   37             Feature Selection         False
   38  Features Selection Threshold          None
   39           Feature Interaction         False
   40                 Feature Ratio         False
   41         Interaction Threshold          None
   42                  Fix Imbalance        False
   43           Fix Imbalance Method        SMOTE),
  ('X_training Set',
          LIMIT_BAL   AGE  BILL_AMT1  ...  PAY_6_6  PAY_6_7  PAY_6_8
   7891    190000.0  25.0   106223.0  ...      0.0      0.0      0.0
   22442    80000.0  42.0    17511.0  ...      0.0      0.0      0.0
   23708    20000.0  44.0    18015.0  ...      0.0      0.0      0.0
   14764   130000.0  25.0   136963.0  ...      0.0      0.0      0.0
   17312   120000.0  25.0    46953.0  ...      0.0      0.0      0.0
   ...          ...   ...        ...  ...      ...      ...      ...
   12619    20000.0  26.0    15271.0  ...      0.0      0.0      0.0
   16236   170000.0  56.0      390.0  ...      0.0      0.0      0.0
   14836    90000.0  27.0     4403.0  ...      0.0      0.0      0.0
   198      20000.0  40.0    19816.0  ...      0.0      0.0      0.0
   5171    290000.0  28.0   133789.0  ...      0.0      0.0      0.0

   [16799 rows x 91 columns]),
  ('y_training Set',
   7891     0
   22442    1
   23708    1
   14764    0
   17312    0
           ..
   12619    1
   16236    0
   14836    0
   198      0
   5171     0
   Name: default, Length: 16799, dtype: int32),
  ('X_test Set',
          LIMIT_BAL   AGE  BILL_AMT1  ...  PAY_6_6  PAY_6_7  PAY_6_8
   22760   110000.0  47.0   109461.0  ...      0.0      0.0      0.0
   1551     20000.0  33.0     2508.0  ...      0.0      0.0      0.0
   5353    410000.0  33.0     3244.0  ...      0.0      0.0      0.0
   14656    50000.0  22.0    44980.0  ...      0.0      0.0      0.0
   2608    130000.0  25.0   132110.0  ...      0.0      0.0      0.0
   ...          ...   ...        ...  ...      ...      ...      ...
   2427    270000.0  27.0    11306.0  ...      0.0      0.0      0.0
   21149    50000.0  50.0    14592.0  ...      0.0      0.0      0.0
   9983    360000.0  28.0     2386.0  ...      0.0      0.0      0.0
   23001   340000.0  36.0     4490.0  ...      0.0      0.0      0.0
   18423   220000.0  38.0   166513.0  ...      0.0      0.0      0.0

   [7201 rows x 91 columns]),
  ('y_test Set',
   22760    0
   1551     0
   5353     0
   14656    1
   2608     0
           ..
   2427     0
   21149    0
   9983     0
   23001    0
   18423    0
   Name: default, Length: 7201, dtype: int32),
  ('Transformation Pipeline',
   Pipeline(memory=None,
            steps=[('dtypes',
                    DataTypes_Auto_infer(categorical_features=[],
                                         display_types=True, features_todrop=[],
                                         ml_usecase='classification',
                                         numerical_features=[], target='default',
                                         time_features=[])),
                   ('imputer',
                    Simple_Imputer(categorical_strategy='not_available',
                                   numeric_strategy='mean',
                                   target_variable=None)),
                   ('new_levels1',
                    New_Catagorical_Le...
                   ('group', Empty()), ('nonliner', Empty()), ('scaling', Empty()),
                   ('P_transform', Empty()), ('pt_target', Empty()),
                   ('binn', Empty()), ('rem_outliers', Empty()),
                   ('cluster_all', Empty()), ('dummy', Dummify(target='default')),
                   ('fix_perfect', Empty()), ('clean_names', Clean_Colum_Names()),
                   ('feature_select', Empty()), ('fix_multi', Empty()),
                   ('dfs', Empty()), ('pca', Empty())],
            verbose=False))],
 False,
 -1,
 True,
 [],
 [],
 [],
 'no_logging',
 False,
 False,
 '9fcf',
 False,
 None,
 <Logger logs (DEBUG)>,
        LIMIT_BAL  SEX  EDUCATION  ...  PAY_AMT5  PAY_AMT6  default
 0          20000    2          2  ...       0.0       0.0        1
 1          90000    2          2  ...    1000.0    5000.0        0
 2          50000    2          2  ...    1069.0    1000.0        0
 3          50000    1          2  ...     689.0     679.0        0
 4          50000    1          1  ...    1000.0     800.0        0
 ...          ...  ...        ...  ...       ...       ...      ...
 23995      80000    1          2  ...       0.0    4000.0        1
 23996     150000    1          3  ...       0.0       0.0        0
 23997      30000    1          2  ...    2000.0    3100.0        1
 23998      80000    1          3  ...   52964.0    1804.0        1
 23999      50000    1          2  ...    1000.0    1000.0        1

 [24000 rows x 24 columns],
 'default',
 False)

In [ ]:
crea